<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fires.mk</title>
  <link rel="stylesheet" href="safety.component.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>
<body>
  <header class="header-container">
    <div class="logo-container">
      <img src="../../assets/images/logo.png" alt="Fire.mk Logo" class="logo">
    </div>
  </header>

  <section class="first-section">

    <div class="safety-heading">Што да направите за заштита? 🔥</div>


    <div class="card">
      <img src="../../assets/images/smoke-detector.jpg" alt="">
      <div class="card-content">
        <h2>
          Воведете апарати за заштита
        </h2>
        <p>
          Алармите за чад се вашиот најдобар систем за рано предупредување во случај на пожар. Инсталирајте аларми за чад на секое ниво од вашиот дом, вклучувајќи го и подрумот. Ако спиете со затворена врата, инсталирајте аларм за пожар и во просторот за спиење.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/fire-escape-plan.png" alt="">
      <div class="card-content">
        <h2>
          Планирајте евакуација од домот при пожар
        </h2>
        <p>
          Ако во вашиот дом се појави пожар, мора брзо да го напуштите домот. Седнете со семејството и однапред смислете план и шема за евакуација. Бидете сигурни дека секој знае најмалку два непречени излези - вклучувајќи ги и прозорците - од секоја соба. (Ако живеете во станбена зграда, користете ги скалите, а не лифтот.) Одлучете за место за собирање, надвор по евакуацијата.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/kitchen-safety.jpg" alt="">
      <div class="card-content">
        <h2>
          Кујнска заштита во домот
        </h2>
        <p>
          Секогаш останете дома за време на готвењето. Чувајте ги запалливите материи подалеку од  местата на готвење. Носете облека со кратки, завиткани или тесни ракави додека готвите. Свртете ги рачките од тенџерето навнатре на шпоретот каде што не можете да ги удрите и децата не можат да ги дофатат. Спроведете зона „без деца" (еден метар) околу вашиот кујнски опсег. Ако маснотиите  во тавата се запалат,  поклопете со капак од садот, лизгајте го капакот над тавата за да го задушите пламенот и исклучите го изворот на топлина. Оставете го капакот додека тавата целосно не се излади.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/heater.jpg" alt="">
      <div class="card-content">
        <h2>
          Чувајте ги грејните апарати на растојание
        </h2>
        <p>
          Чувајте преносни грејачи и грејачи на простор најмалку еден метар подалеку од се што може да изгори. Чувајте ги децата и домашните миленици подалеку од греалки и исклучете ги кога ќе излезете од дома или легнувате да спиете.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/damaged-cable.jpg" alt="">
      <div class="card-content">
        <h2>
          Користете струја безбедно
        </h2>
        <p>
          Доколку електричен апарат чади или има необичен мирис, исклучете го веднаш, потоа сервисирајте го пред повторно да го користите. Заменете го секој електричен кабел што е оштетен, испукан или излупен. Вклучете само еден електричен кабел во секој приклучок. Избегнувајте да ги поставувате жиците под килими. Не користете осигурувачи со несоодветна големина.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/burn-wound.jpg" alt="">
      <div class="card-content">
        <h2>
          Постапка при изгореница
        </h2>
        <p>
          Пуштете ладна вода над изгореница од 10 до 15 минути. Никогаш не нанесувајте мраз. Никогаш не ставајте путер или друга маст на изгореница. Ако изгорената кожа има плускавци, меури или е јагленисана, веднаш посетете лекар.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/crawl.png" alt="">
      <div class="card-content">
        <h2>
          Ползете ниско под чад
        </h2>
        <p>
          Ако наидете на чад додека бегате од пожар, користете алтернативен пат за бегство. Ако мора да избегате преку просторот каде има чад, ползете со рацете и колената, држејќи ја главата 30 до 60 сантиметри над подот, каде што воздухот ќе биде почист.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/images/stop-drop-roll.png" alt="">
      <div class="card-content">
        <h2>
          Застанете, спуштете се и тркалајте се
        </h2>
        <p>
          Ако вашата облека се запали, не трчајте. Застанете таму каде што сте, легнете на земја, покријте го лицето со рацете и превртувајте се додека не го згаснете го пламенот. Веднаш потоа побарајте помош.
        </p>
      </div>
    </div>
  </section>

</body>
</html>
