<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fire.mk</title>
  <link rel="stylesheet" href="map.component.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>

  <div class="loading-overlay" *ngIf="loading"></div>
  <div class="lds-ring" *ngIf="loading"><div></div><div></div><div></div><div></div></div>


  <header class="header-container">
    <div class="logo-container">
      <img src="../../assets/images/logo.png" alt="Fire.mk Logo" class="logo">
    </div>

    <div class="info-icon" id="info-icon" role="img" aria-label="Info icon"
         [class.active]="isWeatherInfoVisible" (click)="toggleWeatherInfo()">
    </div>
  </header>
  <section class="first-section">
    <div id="map" class="map"></div>
    <div class="date-picker-and-number-of-fires">
      <div class="number-of-fires">
        <div class="info-category">Број на пожари</div>
        <div class="info-value" id="firesValue" data-category="fires">{{numberOfFires}}</div>
      </div>
      <div class="navigation">
        <button class="navigation-button" id="backButton" (click)="navigateDateBackward()">&lt;&lt;</button>
        <input class="current-date" type="date" [value]="selectedDate" (change)="onDateChange($event)" max="{{ todayDate }}">
        <button class="navigation-button" id="forwardButton" [disabled]="isForwardDateButtonDisabled" (click)="navigateDateForward()">&gt;&gt;</button>
      </div>
    </div>



    <div class="info" [ngClass]="{'visible': isWeatherInfoVisible}">
      <div class="current-climate-text-and-value-pairs">
        <div class="current-climate-text">Моментална климатска состојба на Вашата локација</div>
        <div class="category-value-pair">
          <div class="info-category">Моментална температура</div>
          <div class="info-value" id="temperatureValue" data-category="temperature">{{ temperature }}°C</div>
        </div>
        <div class="category-value-pair">
          <div class="info-category">Моментална брзина на ветар</div>
          <div class="info-value" id="windSpeedValue" data-category="wind-speed">{{ windSpeed }}m/s</div>
        </div>
        <div class="category-value-pair">
          <div class="info-category">Моментална насока на ветар</div>
          <div class="info-value" id="windDirectionValue" data-category="wind-direction">{{ windDirection }}</div>
        </div>
        <div class="category-value-pair">
          <div class="info-category">Моментална влажност на воздух</div>
          <div class="info-value" id="humidityValue" data-category="humidity">{{ humidity }}%</div>
        </div>
        <div class="category-value-pair">
          <div class="info-category">Моментален воздушен притисок</div>
          <div class="info-value" id="airPressureValue" data-category="air-pressure">{{ airPressure }}Pa</div>
        </div>
      </div>
      <div class="psm">
        <h3>Противпожарен сојуз на Македонија</h3>
        <a href="https://psm.mk/" target="_blank">https://psm.mk/</a>
      </div>
    </div>
  </section>
  <script src="map.js"></script>
</body>
</html>
